@{
    ViewData["Title"] = "Trang quản lý";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Admin Area !</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">XIN CHÀO ĐẾN VỚI TRANG ADMIN</a>.</p>
</div>
